//abstracts
@import '../../../assets/abstracts/variables';
@import '../../../assets/abstracts/mixin';

//base
@import '../../../assets/base/reset';

.popup{
    position: fixed;
    top: 0;
    left: 0;
    right: -6px;
    bottom: 0;
    z-index: 1000;
    overflow: auto;
    background: rgba(#000, 0.8);
    padding: 30px 10px;
    &__content{
        background: #fff;
        margin: 0 auto;
        max-width: 992px;
        width: 100%;
        min-height: 1000px;
        position: relative;
        iframe{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0
        }
    }
    &__close{
        background: none;
        width: 34px;
        height: 34px;
        line-height: 0;
        border-radius: 50%;
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: #fff;
        font-size: 26px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #666;
    }
}