@import url(https://fonts.googleapis.com/css?family=Montserrat);
/*fonts*/
$font-main: 'Montserrat', sans-serif;

/*colors*/
$color-red: #d62727;
$color-turquoise: #00c3b7;
$color-orange: #f26322;
$color-yellow: #f1c40f;
$color-green: #009933;
$color-ischool: #66cc99;
$color-facebook: #3b5998;

$color-main: $color-red;
