//abstracts
@import '../../assets/abstracts/variables';
@import '../../assets/abstracts/mixin';

//base
@import '../../assets/base/reset';

.header{
    background: #fff;
    @include box-shadow(0 0 10px -5px #000);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    &__nav{
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        li{
            display: inline-block;
            a{
                display: block;
                padding: 1rem;
                position: relative;
                font-size: 16px;
                font-weight: 600;
                &:hover{
                    color: $color-main;
                }
                &::before, &::after{
                    content: '';
                    width: 0;
                    height: 1px;
                    position: absolute;
                    
                    background: $color-main;
                    @include transition(all linear .3s);
                }
                &::before{
                    left: 0;
                    bottom: 1px;
                }
                &::after{
                    right: 0;
                    bottom: 0;
                }
                &.active{
                    color: $color-main;
                    &::before,
                    &::after{
                        width: 100%;
                    }
                }
            }
        }
    }
}