//abstracts
@import './assets/abstracts/variables';
@import './assets/abstracts/mixin';

//base
@import './assets/base/reset';
@import './assets/base/global';

.main{
    padding: 40px 0;
}
.section-content{
    padding: 30px;
    background: #fff;
    min-height: 75vh;
}
.threads{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 4px double #eaeaea;
}
  